/* general */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

img {
    width: 100%;
}


/* utilities */

.flex {
    display: flex;
}

.wrap {
    flex-wrap: wrap;
}

.space-between {
    justify-content: space-between;
}

.container-65 {
    max-width: 65%;
    margin: 0 auto;
}

.container-55 {
    max-width: 55%;
    margin: 0 auto;
}

.grey-border {
    border: 1px solid grey;
}

.text-center {
    text-align: center;
}

h2 {
    font-size: 2.8rem;
}


/* contents */

.header-menu {
    position: fixed;
    width: 100%;
    background-color: white;
}

.top-trial {
    background-color: #b4d0e7;
    height: 700px;
    padding-top: 120px;
}

.top-trial h1 {
    font-size: 4.2rem;
    font-weight: 900;
}

.trial-proposal div {
    flex-basis: 50%;
}

.business-plan {
    height: 1500px;
    background-color: white;
    padding-top: 180px;
}

#checkbox-container {
    margin: 55px 0px;
}

.plan-choice {
    flex-basis: calc(100%/3 - 20px);
}

.team-enterprise {
    margin-top: 55px;
}

#team-description {
    max-width: 70%;
}

.dropbox-partner {
    height: 800px;
    background-color: blueviolet;
}

.dropbox-partner .container-50 {
    padding-top: 55px;
}

.partner-image {
    flex-basis: 60%;
}

.partner-contact {
    flex-basis: calc(40% - 40px);
    margin-left: 40px;
}

.dropbox-business {
    height: 2000px;
    background-color: chartreuse;
}

.cards-container {
    row-gap: 40px;
    column-gap: 20px;
}

.card {
    flex-basis: calc(100%/3 - 20px);
    background-color: yellow;
    height: 400px;
}

.faq {
    background-color: white;
    height: 700px;
}

.bottom-footer {
    background-color: #000000;
    height: 500px;
}


/* debug */

.top-trial .container-60 {
    background-color: pink;
}

.plan-choice {
    background-color: red;
    height: 600px;
}